  <footer>
    <div class="container grid">
      <small>© 2025 Action Jackson Installs</small>
      <nav aria-label="Social links">
        <ul class="social">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
