<!-- views/partials/header.ejs -->
<header>
  <nav class="container">
    <!-- Your brand/logo on the left -->
    <a href="/" class="contrast brand">Action Jackson’s</a>

    <!-- Nav links on the right -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/scheduling">Schedule</a></li>
      <li><a href="/quotes" class="contrast">Get a Quote</a></li>
    </ul>
  </nav>
</header>