<%- include('partials/header', { title: 'Schedule an Installation' }) %>

  <main class="container">
    <h1>Schedule an Installation</h1>
    <form id="schedulingForm">
      <label for="name">Name</label>
      <input id="name" name="name" required />

      <label for="address">Address</label>
      <input id="address" name="address" required />

      <label for="quoteID">Quote Number</label>
      <input id="quoteID" name="quoteID" required />

      <label for="date">Preferred Date</label>
      <input id="date" name="date" type="date" required />

      <button type="submit">Submit</button>
    </form>
    <p id="schedulingStatus"></p>
  </main>


  <script src="/scripts/scheduling.js"></script>
  <%- include('partials/footer') %>